
#left-panel, #right-panel{
    position: absolute;
    content: '';
    width: 50%;
    height: 100%;
    top: 0%;
    background-color: gray;
    transition: all 1.5s ease-out;
    z-index: 1;
    opacity: 70%;
}

#left-panel {
    left: -50%;
    border-right: 0.1rem solid black;
}

#right-panel {
    right: -50%;
    border-left: 0.1rem solid black;
}


#left-panel.active {
    left: 0%;
}
#right-panel.active {
    right: 0%;
}